@page "/"
@inject NavigationManager Navigation

<PageTitle>WriterApp</PageTitle>

<p>Redirecting...</p>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("documents", replace: true);
    }
}
