@page "/"
@inject NavigationManager Navigation
@inject WriterApp.Client.State.CurrentDocumentStateService CurrentDocumentStateService

<PageTitle>WriterApp</PageTitle>

<p>Redirecting...</p>

@code {
    protected override void OnInitialized()
    {
        CurrentDocumentStateService.Clear();
        Navigation.NavigateTo("documents", replace: true);
    }
}
