@page "/account/logout"
@using Microsoft.AspNetCore.Identity
@using WriterApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<PageTitle>Logout</PageTitle>

<p>Signing out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        try
        {
            Navigation.NavigateTo("/", forceLoad: true);
        }
        catch (NavigationException)
        {
        }
    }
}
